<div class="element-bg-img"><img src="images/{{currentActivity? currentActivity.image : '1.jpg'}}" alt="" class="img-responsive"> </div>
        <div class="element-left-bottom">
          <div class="ele-strip">
            <ul>
              <li *ngFor="let actType of actTypes; last as isLast" [ngClass]="isLast? 'anc-bor' : ''">
                <a href="#" (click)="criteriaClicked(actType)">{{actType}}</a>
              </li>
            </ul>
          </div>
          <div class="village">
            <h3>Выбирайте, где отдохнуть</h3>
            <span class="line"></span>
            <div class="activity_box">
              <div class="scrollbar" id="style-2">
                
                <div *ngIf="activitiesList$ | async as activitiesList; else loadingSpinner">
                  <div (click)="hotelClick(a)" class="activity-row" *ngFor="let a of activitiesList | activityFilter:filterCriteria; trackBy: trackByFnActivities; first as isFirst; last as isLast">
                    {{ isFirst ? hotelClick(a) : null }}
                    <!--
                    {{ isLast ? lastElementRendered() : null }}
                    -->
                    <div class="activity-desc">
                      <h5>Адрес места</h5>
                      <p>{{a.address.address1}}</p>
                      <p>{{a.address.address2}}</p>
                      <h6>{{a.phone}}</h6>
                    </div>
                    <div class="activity-img">
                      <ul>
                        <li>
                          <img src='images/res.jpg' alt="" />
                        </li>
                        <li>
                          <img src='images/r1.jpg' alt="" />
                        </li>
                      </ul>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <ng-template #loadingSpinner>Loading...</ng-template>
              </div>
            </div>
          </div>
       </div>
