<h1>Hot Weather Widget</h1>
<div class="element">
  <div class="element-left">
    <app-activities-widget (clickEE)="hotelClicked($event)"></app-activities-widget>
  </div>
  <div class="element-right">
      <!-- todo: спросить, как это правильно делать, чтобы два раза не писать тернарный оператор - здесь и в шаблоне -->
      <app-temperature-widget [weather]="currentActivity?.weather"></app-temperature-widget>
      <app-social-widget [socialInfo]="currentActivity?.socialInfo"></app-social-widget>
  </div>
  <div class="clear"> </div>
</div>
<div class="copy-right">
      <p>© 2015 Hot Weather Widget. All rights reserved | Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
</div>
