<!--The content below is only a placeholder and can be replaced.
<div style="text-align:center">app-root is empty for moment</div>
-->
<h1>Hot Weather Widget</h1>
<div class="element">
  <div class="element-left">
        <app-activities-widget></app-activities-widget>
  </div>
  <div class="element-right">
      <app-temperature-widget [airTemp]="currentActivity? currentActivity.weather.airTemp : '--'"
       [waterTemp]="currentActivity? currentActivity.weather.waterTemp : '--'"></app-temperature-widget>
      <app-social-widget [followers]="currentActivity? currentActivity.socialInfo.followers : '--'"
       [following]="currentActivity? currentActivity.socialInfo.following : '--'"></app-social-widget>
    </div>
    <div class="clear"> </div>
</div>
<div class="copy-right">
      <p>© 2015 Hot Weather Widget. All rights reserved | Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
</div>
